# Defense_Spending
## Exploratory Analysis of SIPRI Defense Spending Data

In [1]:
import pandas as pd 
import numpy as np
from pca import pca
import seaborn as sns

In [2]:
data_dir = "~/Box/ECMA-31330-Project"

We can look at spending per GDP or spending as a share of government spending.

In [5]:
sipri_milex_per_gdp = (pd.read_excel(data_dir+"/SIPRI-Milex-data-1949-2020_0.xlsx", sheet_name="Share of GDP", header=5)
                         .drop(columns='Notes')
                         # Threshold requires a non-NaN country column and at least one observation
                         .dropna(thresh=2)
                         .replace({"xxx":np.NaN, ". .":np.NaN})
                         # Remove "Unnamed" columns
                         .filter(regex='^((?!Unnamed).)*$'))

sipri_milex_per_gdp

,Country,1949,1950,1951,1952,1953,1954,1955,1956,1957,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.043257,0.044611,0.048445,0.055485,0.062702,0.063849,0.059244,0.054678,0.060210,0.066600
3,Libya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.037456,0.076393,0.154796,NaN,NaN,NaN,NaN,NaN,NaN
4,Morocco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.011807,0.01759,...,0.032975,0.034628,0.038058,0.036779,0.032302,0.032195,0.031830,0.031186,0.030999,0.042810
5,Tunisia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.015613,0.015123,0.016416,0.019082,0.022699,0.023608,0.021443,0.021134,0.025646,0.029077
7,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.032557,0.032367,0.044552,0.046985,0.031054,0.027333,0.025080,0.018718,0.016437,0.016159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,Syria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,Turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.020275,0.020094,0.019240,0.018720,0.018128,0.020503,0.020501,0.025240,0.027103,0.027725
188,UAE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.054663,0.050756,0.060347,0.056437,NaN,NaN,NaN,NaN,NaN,NaN
189,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.049265,0.045739,0.040795,0.039669,NaN,NaN,NaN,NaN,NaN,NaN
190,"Yemen, North",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
N = exData.shape[0]
T = exData.shape[1]

In [ ]:
plt.figure(figsize=(15,15))
plt.plot(exData);
plt.legend(exData.columns);
# plt.xticks(range(exData.shape[0]),list(exData.index))
plt.show()

In [ ]:
#Exploring correlations 
sns.heatmap(exData.corr());

In [ ]:
scatter_matrix(exData, figsize=(20, 20), diagonal='kde');

In [ ]:
deMeanExData = exData - np.mean(exData,axis=0) 
modelEx = pca(n_components=deMeanExData.shape[1])
resultsEx = modelEx.fit_transform(deMeanExData)
sns.heatmap(resultsEx['loadings'],cmap='YlGnBu');

In [ ]:
modelEx.plot();

In [ ]:
K = 3
Fhat = resultsEx['PC'].iloc[:,0:K].to_numpy()
Mus = resultsEx['loadings'].iloc[0:K].to_numpy()
Yhat = Fhat@Mus

In [ ]:
plt.scatter(deMeanExData.iloc[:,0],Yhat[:,0])
plt.show()

plt.plot(deMeanExData.index,deMeanExData.iloc[:,0])
plt.plot(deMeanExData.index,Yhat[:,0])
plt.show()

plt.plot(deMeanExData.index,deMeanExData.iloc[:,1])
plt.plot(deMeanExData.index,Yhat[:,1])
plt.show()